* {
  box-sizing: border-box;
}

.hero {
  border: 10px solid #FF5757;
}

/* First Page */

h1 {
  color: #FF5757;
  font-family: 'Fredoka One', cursive;
}
.page-one {
  background-image: url(../assets/cactus.jpeg);
  background-size: cover;
  background-position: center;
}
.my-name {
  font-size: 100px;
}
.my-title {
  font-size: 50px;
}

/* Second Page */
.page-two{
  display: flex;
  align-items: center;
}
.headshot-aboutme {
  margin: 50px;
}
.headshot {
  height: 350px;
  width: auto;
  box-shadow: 0 4px 8px 0 rgba(255, 87, 87, 0.2), 0 6px 20px 0 rgba(255, 87, 87, 0.19);
}
.about-me {
  padding-left: 50px;
}
.about-me-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  text-align: center;
}
p {
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
}

/* Tech Icons */
.icon-list {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
  display: flex;
  justify-content: center;
  width: 65%;
}
.icon {
  font-size: 3rem;
  padding-bottom: 10px;
  display: flex;
}
small {
  font-family: 'Montserrat', sans-serif;
}
