* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

p {
  color: hotpink;
  font-family: 'Saira Stencil One', cursive;
  display: flex;
  text-align: center;
  padding: 150px;
  font-size: 100px;
}