* {
  box-sizing: border-box;
}

.hero {
  border: 10px solid #FF5757;
}

/* First Page */

h1 {
  color: #FF5757;
  font-family: 'Fredoka One', cursive;
}
.page-one {
  background-image: url(../assets/cactus.jpeg);
  background-size: cover;
  background-position: center;
}
.my-name {
  font-size: 100px;
}
.my-title {
  font-size: 50px;
}
