* {
  box-sizing: border-box;
}

.hero {
  border: 10px solid #FF5757;
}

/* First Page */

h1 {
  color: #FF5757;
  font-family: 'Fredoka One', cursive;
}
.page-one {
  background-image: url(../assets/cactus.jpeg);
  background-size: cover;
  background-position: center;
}
.my-name {
  font-size: 100px;
}
.my-title {
  font-size: 50px;
}

/* Second Page */
.page-two{
  display: flex;
  align-items: center;
}
.headshot-aboutme {
  margin: 50px;
}
.headshot {
  height: 350px;
  width: auto;
  box-shadow: 0 4px 8px 0 rgba(255, 87, 87, 0.2), 0 6px 20px 0 rgba(255, 87, 87, 0.19);
}
.about-me {
  padding-left: 50px;
}
.about-me-title {
  font-family: 'Fredoka One', cursive;
  font-size: 50px;
  text-align: center;
  margin-bottom: 30px;
  color: #FF5757;
}
p {
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
}

/* Tech Icons */
.icon-list {
  margin-top: 50px;
  margin-bottom: 75px !important;
  /* margin-left: 20%; */
  display: flex;
  justify-content: center;
  /* width: 70%; */
}
.icon {
  font-size: 3rem;
  padding-bottom: 10px;
  display: flex;
  height: auto !important;
  width: auto !important;
}
.icon-column {
  width: 13% !important;
}
small {
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}




/* Third Page */
.page-three {

}
.container {
  justify-content: center;
  flex-direction: column;
}
.projects-title {
  font-size: 50px;
  text-align: center;
}
.project-container {
  width: 50%;
  float: left;
  height: 0;
  padding-bottom: 30%;
  text-align: center;
}
.project-name {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: black;
  text-decoration: none;
}
.project-pic {
  box-shadow: 0 4px 8px 0 rgba(255, 87, 87, 0.2), 0 6px 20px 0 rgba(255, 87, 87, 0.19);
  border-radius: 10px;
  width: 70%;
}
